<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>$title</title>
</head>
<body>
<p>Security has been tightened across Sri Lanka as a 2-day nationwide curfew came into effect from 8pm on Saturday with nearly 1000 road blocks set up in all districts, the police said. Police had earlier imposed the curfew in all major urban centres.They have issued a curfew advisory for 16 cities. The advisory had also been put into effect throughout the rest of the country. In some towns curfew had already been lifted as a precautionary measure. However, curfew was to be implemented at the national level and in some towns at all times except during certain days."All cities including Colombo were to be monitored under the national authorities. Those who fail to abide by curfew regulations would be liable to</p>
</body>
</html>